
  <div class=" ">
<div class="container d-content-center d-flex flex-wrap" >
  
    
  @for(market of markets;track market ){
 <div class="d-block">
  <h2>{{ market.name }}</h2>
  <table>
    <thead>
      <tr>
        <th>Reyon</th>
        <th>Tür</th>
        <th>Ürünler</th>
        <th> <button (click)="openPopup(market)">Reyon Ekle</button></th>
      </tr>
    </thead>
    <tbody>
      @for(section of market.sections;track section ){
      <tr>
        <td>{{ section.id }}  <i class="fas fa-trash delete"  (click)="deleteSection(market.id, section.id)"></i>
          
      </td>
        <td>{{ section.type }}</td>
        <td>
          @for(product of section.products;track product ){
          <span>{{ product.name }}</span>
          }
        </td>
        <td>
          
          <button (click)="openProductPopup(market, section)">Ürün Ekle</button>
        </td>
      </tr>
      }
    </tbody>
  </table>

 </div>
} 
</div>
</div>

@if (isPopupVisible){
<div class="popup-container">
  <div class="popup">
    <h2>Reyon Ekle</h2>
    <form (ngSubmit)="addSection()">
      <label for="reyonAdi">Reyon Adı</label>
      <input id="reyonAdi" type="text" [value]="nextSectionId" disabled />

      <label for="reyonTuru">Reyon Türü</label>
      <select
        id="reyonTuru"
        [(ngModel)]="selectedType"
        name="reyonTuru"
        required
        
      >
        @for (type of sectionTypes; track type) {
        <option [value]="type">
          {{ type }}
        </option>
        }
      </select>

      <label for="market">Eklenecek Market</label>
      <input id="market" type="text" [value]="selectedMarket?.name" disabled />

      <button type="submit">Ekle</button>
      <button type="button" (click)="closePopup()">İptal</button>
    </form>
  </div>
</div>

}
@if(isProductPopupVisible){
  <div  class="popup-container">
    <div class="popup">
      <h2>Ürün Ekle</h2>
      <form (ngSubmit)="addProduct()">
        <label for="productId">Ürün ID</label>
        <input
          id="productId"
          type="text"
          [(ngModel)]="newProduct.id"
          name="productId"
          required
        />
  
        <label for="productName">Ürün Adı</label>
        <input
          id="productName"
          type="text"
          [(ngModel)]="newProduct.name"
          name="productName"
          required
        />
  
        <label for="section">Eklenecek Reyon</label>
        <input id="section" type="text" [value]="selectedSection?.id" disabled />
  
        <button type="submit">Ekle</button>
        <button type="button" (click)="closeProductPopup()">İptal</button>
      </form>
    </div>
  </div>
}
